$color1: #333333; // Dark Gray
$color2: #666666; // Medium Gray
$color3: #999999; // Light Gray
$mtc-black: #292929; // MTC Black
$mtc-yellow: #fee581; // MTC Yellow
$header-height: 60px;

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: content-box;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 24px;
}

header {
  height: $header-height;
  background: $mtc-black;
  
  i {
    color: $mtc-yellow;
  }  
}

main {
  max-width: 3840px;
  max-height: 2158px;

  flex-grow: 1;
  color: white;
  background-color: $color3;

  display: flex;
  flex-direction: column;

  .video-container {
    min-height: calc(100vh - #{$header-height});
    flex-grow: 1;
    position: relative;

    video {
      height: 100%;
      width: 100%;

      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }

    .video-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      div {
        color: white;
      }

      .overlay-header {
        margin-top: 24px;
        font-size: 60px;
        font-weight: bolder;
        font-family: Findel;
        display: flex;
        flex-flow: column;
        align-items: center;
      }

      .overlay-subheader {
        margin-top: 24px;
        font-size: 36px;
        text-align: center;
      }

      .overlay-text {
        font-size: 30px;
        flex-grow: 1;
        display: flex;
        flex-flow: column;
        justify-content: center;
      }

      .overlay-subtext {
        font-size: 18px;
        margin-bottom: 120px;
      }
    }
  }
}

footer {
  background-color: $mtc-black;
  color: white;

  a {
    color: $mtc-yellow;
    text-decoration: none;
  }

  a:visited {
    color: $mtc-yellow;
  }
}