$mtc-black: #292929; // MTC Black
$mtc-yellow: #fee581; // MTC Yellow
$header-height: 84px;

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: content-box;
  font-family: "Montserrat", sans-serif;
}

header {
  height: $header-height;
  background: $mtc-black;
  
  i {
    color: $mtc-yellow;
  }  
}

main {
  max-width: 3840px;
  max-height: 2158px;

  flex-grow: 1;
  color: white;

  display: flex;
  flex-direction: column;

  .video-container {
    height: calc(100vh - #{$header-height});
    flex-grow: 1;
    position: relative;

    video {
      height: 100%;
      width: 100%;

      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
}

footer {
  background-color: $mtc-black;
  color: white;

  a {
    color: rgb(113, 113, 122);
    text-decoration: none;
  }

  a:visited {
    color: rgb(113, 113, 122);
  }
}