<!DOCTYPE html>
<html>

<head>
    <style>
        @font-face {
            font-family: "Montserrat";
            src: url('fonts/Montserrat-Regular.ttf') format('truetype');
          }
          
          @font-face {
            font-family: "Findel";
            src: url('fonts/Findel-Display-Regular.otf') format('opentype');
          }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Munich Triathlon Club</title>
    {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/004a95d394.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        {{block "header" . }}
        <div>
            <a href="{{ .Site.BaseURL }}"><i class="fa fa-house"></i></a>
        </div>
        <h1 class="spacer"></h1>
        <div class="links">
            <a href="{{ .Site.BaseURL }}/impressum"><span>Impressum</span></a>
        </div>
        {{ end }}
    </header>

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    <footer>
        {{ block "footer" . }}
        <div>
            <div>Created by</div>
            <div style="font-size: small;"><a href="https://github.com/schaeferto">@schaeferto</a></div>
            <div style="font-size: smaller; margin-top: 20px">© 2024 Munich Triathlon Club</div>
        </div>
        {{ end }}
    </footer>
</body>

</html>