<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Munich Triathlon Club</title>
    {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        {{block "header" . }}
        <div>
            <a href="{{ .Site.BaseURL }}"><i class="fa fa-home"></i></a>
        </div>
        <h1>Munich Triathlon Club</h1>
        <div>
            <a href="{{ .Site.BaseURL }}/impressum"><span>Impressum</span></a>
        </div>
        {{ end }}
    </header>

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    <footer>
        {{ block "footer" . }}
        <div>
            <div>Made with ❤️ by</div>
            <div style="font-size: small;"><a href="https://github.com/schaeferto">@schaeferto</a></div>
            <div style="font-size: smaller; margin-top: 20px">© 2024 Munich Triathlon Club</div>
        </div>
        {{ end }}
    </footer>
</body>

</html>