{{ define "main" }}
<div class="video-container">
    <video autoplay muted loop playsinline>
        <source src="videos/header-video.mp4" />
    </video>
    <div class="video-overlay">
        <div style="font-size:5em; font-weight: bolder; margin-top: 24px">
            MTC
        </div>
        <div style="font-size:2em; margin-top: 24px">
            Munich Triathlon Club
        </div>
        <div style="margin-top: 180px; font-size:2em">
            Coming soon...
        </div>
        <div style="margin-top: 300px; font-size: 1em">
            Hier entsteht gerade etwas biberstarkes!
        </div>
    </div>
</div>
{{ end }}