{{ define "main" }}
<div class="video-container">
    <video autoplay muted loop playsinline>
        <source src="videos/header-video.webm" type="video/webm" />
        <source src="videos/header-video.mp4" type="video/mp4" />
    </video>
    <div class="video-overlay h-full w-full absolute top-0 flex flex-col items-center pt-12 box-border">
        <div class="overlay-header font-serif text-5xl flex flex-col items-center lg:text-7xl">
            MTC
            <div class="overlay-subheader text-center text-3xl py-12 lg:text-5xl">
                Munich Triathlon Club
            </div>
        </div>
        <div class="overlay-text text-2xl lg:text-5xl">
            Coming soon...
        </div>
        <div class="overlay-subtext absolute bottom-32">
            Hier entsteht gerade etwas Biberstarkes!
        </div>
    </div>
</div>
{{ end }}

{{ define "strava" }}
<div class="bg-gradient-to-r from-zinc-400 flex flex-col items-center justify-center lg:flex-row h-full py-6">
    <div class="h-1/2 w-72 lg:mr-12 md:pb-4">
        <img src="icons/api_logo_pwrdBy_strava_stack_white.svg" alt="Strava Logo" />
    </div>
    <iframe allowtransparency frameborder='0' height='454' scrolling='no'
        src='https://www.strava.com/clubs/1222966/latest-rides/227a837d2882ab46d339c8a035e1673d02c5e91f?show_rides=true'
        width='300'></iframe>
</div>
{{ end }}