{{ define "main" }}
<div class="video-container">
    <video autoplay muted loop playsinline>
        <source src="videos/header-video.webm" type="video/webm" />
        <source src="videos/header-video.mp4" type="video/mp4" />
    </video>
    <div class="video-overlay">
        <div class="overlay-header">
            MTC
            <div class="overlay-subheader">
                Munich Triathlon Club
            </div>
        </div>
        <div class="overlay-text">
            Coming soon...
        </div>
        <div class="overlay-subtext">
            Hier entsteht gerade etwas Biberstarkes!
        </div>
    </div>
</div>
{{ end }}