{{ define "2ndLevelNavigation"}}
<div class="bg-mtc-black w-full h-12 flex justify-center pt-2">
    <a href="{{ .Site.BaseURL }}/training/swim"
        class="text-white mx-3 h-8 flex w-36 items-center justify-center rounded-md border-solid border-mtc-yellow border-2 md:hover:bg-mtc-yellow -skew-x-20 md:hover:text-black">
        <span class="skew-x-20">Swim</span>
    </a>
    <a href="{{ .Site.BaseURL }}/training/bike"
        class="text-mtc-black bg-mtc-yellow mx-3 h-8 flex w-36 items-center justify-center rounded-md border-solid border-mtc-yellow border-2 md:hover:bg-mtc-yellow -skew-x-20 md:hover:text-black">
        <span class="skew-x-20">Bike</span>
    </a>
    <a href="{{ .Site.BaseURL }}/training/run"
        class="text-white mx-3 h-8 flex w-36 items-center justify-center rounded-md border-solid border-mtc-yellow border-2 md:hover:bg-mtc-yellow -skew-x-20 md:hover:text-black">
        <span class="skew-x-20">Run</span>
    </a>
</div>
{{ end }}

{{ define "header" }}
<div class="section-header">
    {{ .Content }}
</div>
{{ end }}

{{ define "strava" }}
<div class="bg-gradient-to-r from-zinc-400 flex flex-col items-center justify-center md:flex-row h-full py-6">
    <div class="h-1/2 w-72 md:mr-12 md:pb-4">
        <img src="/icons/api_logo_pwrdBy_strava_stack_white.svg" alt="Strava Logo" />
    </div>
    <iframe allowtransparency frameborder='0' height='454' scrolling='no'
        src='https://www.strava.com/clubs/1222966/latest-rides/227a837d2882ab46d339c8a035e1673d02c5e91f?show_rides=true'
        width='300'></iframe>
</div>
{{ end }}

{{ define "content"}}
<div class="min-h-32.5"></div>
{{ end }}