{{ $currentPage := . }}
<header class="px-4 flex items-center justify-end">
    <div class="links flex gap-2 text-2xl bold justify-center items-center z-10">
        <div class="ml-5 cursor-pointer"><i id="nav-icon-menu" class="fa-solid fa-xmark"></i></div>
    </div>
</header>
<nav>
    <ul class="flex flex-col items-center">
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <a href="{{ (index (first 1 .Children) 0).URL }}" class="w-2/3">
            <li
                class="my-4 h-12 flex items-center justify-center rounded-md border-solid border-mtc-yellow border-2 md:hover:bg-mtc-yellow -skew-x-20 md:hover:text-black">
                <span class="skew-x-20">{{ .Name }}</span>
            </li>
        </a>
        {{ else }}
        <a href="{{ .URL }}" class="w-2/3">
            <li
                class="my-4 h-12 flex items-center justify-center rounded-md border-solid border-mtc-yellow border-2 md:hover:bg-mtc-yellow -skew-x-20 md:hover:text-black {{ if ($currentPage.IsMenuCurrent .Menu . ) }} active{{ end }}">
                <span class="skew-x-20">{{ .Name }}</span>
            </li>
        </a>
        {{ end }}

        {{ range .Children }}
        <a href="{{ .URL }}" class="w-7/12 self-end mr-12">
            <li
                class="my-4 h-10 flex items-center justify-center rounded-md border-solid border-mtc-yellow border-2 md:hover:bg-mtc-yellow -skew-x-20 md:hover:text-black {{ if ($currentPage.IsMenuCurrent .Menu . ) }} active{{ end }}">
                <span class="skew-x-20">{{ .Name }}</span>
            </li>
        {{ end }}

        {{ end }}
    </ul>
</nav>